<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Основная строка подключения: локальный файл SQLite CharityFundDB.db -->
    <add name="CharityFundDB" 
         connectionString="Data Source=CharityFundDB.db;" 
         providerName="Microsoft.Data.Sqlite" />
         
    <!-- Корпоративный вариант для MS SQL Server (при необходимости):
    <add name="CharityFundDB_MSSQL" 
         connectionString="Server=localhost;Database=CharityFundDB;Trusted_Connection=True;TrustServerCertificate=True;" 
         providerName="Microsoft.Data.SqlClient" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="Информационная система «Благотворительный фонд»" />
    <add key="Student" value="Афанасьев М.А." />
    <add key="Department" value="Кафедра ПОВТ, ФТИ, ГОУ «ПГУ им. Т.Г. Шевченко»" />
  </appSettings>
</configuration>
